body {
  font-family: 'Noto Sans SC', system-ui, -apple-system, 'PingFang SC', "Microsoft YaHei", 'Segoe UI','Roboto','Helvetica','noto sans sc','hiragino sans gb',"sans-serif",'Apple Color Emoji','Segoe UI Emoji','Not Color Emoji';
  @apply h-full w-full text-neutral-700 dark:text-neutral-300;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}

.page-leave-to {
  opacity: 0;
  transform: translateY(-5px);
}

.page-enter-from {
  opacity: 0;
  transform: translateY(5px);
}

* {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-width: 6px;
  scrollbar-color: transparent;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.5);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.7);
  opacity: 1;
  display: block !important
}

::-webkit-scrollbar-thumb:active {
  background: rgba(128, 128, 128, 0.9);
  border-radius: 3px;
}

.prose a:not(h1 a, h2 a, h3 a, h4 a, h5 a, h6 a) {
  text-decoration: none;
  border-bottom: 1px solid rgba(125,125,125,.3);
  transition: all 500 ease-in-out;
}

.prose a:not(h1 a, h2 a, h3 a, h4 a, h5 a, h6 a):hover {
  border-bottom: 1px solid #555;
}
