@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'Noto Sans SC', sans-serif;
  --font-mono: 'Fira Code', 'Noto Sans SC', sans-serif;
  --font-logo: 'Dancing Script', cursive;
}
